1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [1]:
a=15
b=4
print(a)
print(b)

15
4

In [3]:
#SUM
sum=a+b
sum

19

In [4]:
#Difference
Diff=a-b
Diff

11

In [5]:
#Product
Prod=a*b
Prod

60

In [6]:
#Division
div=a/b
div

3.75

In [7]:
#Floor Division
FDiv=a//b
FDiv

3

In [8]:
#Modulus
Mod=a%b
Mod

3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [10]:
num1=10
num2=5.6
num3=4.43
print(num1)
print(num2)
print(num3)

10
5.6
4.43

In [11]:
#Integer to Float
flt=float(num1)
flt

10.0

In [12]:
#Float to Integer
Inte=int(num2)
Inte

5

In [13]:
#Float to String
Strng=str(num3)
Strng

'4.43'

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [14]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
fruits

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']

In [15]:
#The first fruit
first_fruit=fruits[0]
first_fruit

'apple'

In [16]:
#The last fruit(negative indexing)
last_fruit=fruits[-1]
last_fruit

'orange'

In [17]:
#the fourth fruit
fourth_fruit=fruits[3]
fourth_fruit

'coconut'

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [18]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

In [21]:
#first three elements
first_three_elements=numbers[:3]
first_three_elements

[10, 20, 30]

In [22]:
#last two elements
last_two_elements=numbers[3:]
last_two_elements

[40, 50]

In [23]:
#Print all elements except the first one
all_elements_except_the_first_one=numbers[1:]
all_elements_except_the_first_one

[20, 30, 40, 50]

In [25]:
#Print all elements except the last one
all_elements_except_the_last_one=numbers[:4]
all_elements_except_the_last_one

[10, 20, 30, 40]

In [34]:
#Print the list in reverse using slicing
list_in_reverse_using_slicing=numbers[::-1]
list_in_reverse_using_slicing

[50, 40, 30, 20, 10]

In [37]:
#Print every second element
every_second_element=numbers[1:5:2]
every_second_element

[20, 40]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [38]:
#append method
nums = [1, 2, 3]
nums

[1, 2, 3]

In [39]:
nums.append(10)
nums

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [41]:
#insert method
nums=[1,2,3]
nums.insert(1,99)
nums

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [46]:
nums=[1,2,3]
nums2=[4,5]
nums.extend(nums2)
nums

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [47]:
nums = [4, 1, 3, 2]
nums.sort()
nums

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [48]:
order = ["burger", "fries", "coke"]
order

['burger', 'fries', 'coke']

In [49]:
#Add a new item "ice cream" using append()
order.append("ice cream")
order

['burger', 'fries', 'coke', 'ice cream']

In [51]:
#Remove an item "biryani" using remove()
order.append("biryani")
order

['burger', 'fries', 'coke', 'ice cream', 'biryani']

In [52]:
order.remove("biryani")
order

['burger', 'fries', 'coke', 'ice cream']

In [53]:
#Show the final order
order

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [54]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers

['Ali', 'Zara', 'Ahmed']

In [55]:
#Insert a new passenger "Sara" at position 2
passengers.insert(1,'Sara')
passengers

['Ali', 'Sara', 'Zara', 'Ahmed']

In [56]:
#Remove passesnger who got off "Zara"
passengers.remove("Zara")
print(passengers)

['Ali', 'Sara', 'Ahmed']

In [57]:
passengers.reverse()
passengers

['Ahmed', 'Sara', 'Ali']